DATABASE_URL=postgres://postgres@127.0.0.1:5432/postgres
APP_URL=https://food.example.com
OIDC_ISSUER=https://auth.example.com/realms/main
OIDC_CLIENT_ID=food
OIDC_CLIENT_SECRET=
SESSION_ENCRYPTION_KEY=f/HGP+VLA41YaUwW1ufnIjL2dUkt8gcgmUJLuVyY7Zg=
# OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
# OTEL_EXPORTER_OTLP_HEADERS=authorization=Basic <base64-client-credentials>
# OTEL_SERVICE_NAME=food
