:root {
  --color-gray-0: oklch(100% 0 none);
  --color-gray-25: oklch(99.24% 0.003 250deg);
  --color-gray-50: oklch(98.48% 0.003 250deg);
  --color-gray-65: oklch(98.03% 0.003 250deg);
  --color-gray-90: oklch(97.29% 0.003 250deg);
  --color-gray-100: oklch(96.99% 0.003 250deg);
  --color-gray-125: oklch(95.82% 0.003 250deg);
  --color-gray-150: oklch(94.65% 0.003 250deg);
  --color-gray-160: oklch(94.19% 0.003 250deg);
  --color-gray-170: oklch(93.72% 0.003 250deg);
  --color-gray-175: oklch(93.49% 0.003 250deg);
  --color-gray-195: oklch(92.55% 0.003 250deg);
  --color-gray-200: oklch(92.32% 0.003 250deg);
  --color-gray-215: oklch(91.5% 0.003 250deg);
  --color-gray-225: oklch(90.95% 0.003 250deg);
  --color-gray-230: oklch(90.68% 0.003 250deg);
  --color-gray-240: oklch(90.14% 0.003 250deg);
  --color-gray-245: oklch(89.86% 0.003 250deg);
  --color-gray-250: oklch(89.59% 0.003 250deg);
  --color-gray-275: oklch(88.23% 0.003 250deg);
  --color-gray-280: oklch(87.96% 0.003 250deg);
  --color-gray-310: oklch(85.34% 0.003 250deg);
  --color-gray-325: oklch(83.05% 0.01 250deg);
  --color-gray-350: oklch(79.24% 0.01 250deg);
  --color-gray-400: oklch(71.61% 0.01 250deg);
  --color-gray-500: oklch(55.34% 0.01 250deg);
  --color-gray-600: oklch(44.44% 0.01 250deg);
  --color-gray-700: oklch(37.41% 0.01 250deg);
  --color-gray-800: oklch(26.85% 0.01 250deg);
  --color-gray-900: oklch(21.61% 0.01 250deg);
  --color-gray-950: oklch(14.69% 0.005 250deg);
  --color-gray-1000: oklch(0% 0 none);

  --color-red-200: oklch(88.45% 0.06 18.36deg);
  --color-red-280: oklch(82.31% 0.09 19.45deg);
  --color-red-300: oklch(80.77% 0.1 19.58deg);
  --color-red-350: oklch(75.92% 0.14 21.36deg);
  --color-red-450: oklch(67.37% 0.19 24.2deg);
  --color-red-500: oklch(63.69% 0.21 25.33deg);
  --color-red-625: oklch(55.92% 0.21 27.37deg);
  --color-red-750: oklch(47.46% 0.18 27.25deg);
  --color-red-875: oklch(40.78% 0.14 26.11deg);
  --color-red-950: oklch(25.75% 0.09 26.04deg);

  --color-green-100: oklch(96.24% 0.04 156.7deg);
  --color-green-220: oklch(91.42% 0.09 155.5deg);
  --color-green-300: oklch(87.12% 0.14 154.44deg);
  --color-green-350: oklch(83.57% 0.16 152.8deg);
  --color-green-550: oklch(67.49% 0.18 149.4deg);
  --color-green-570: oklch(65.58% 0.18 149.33deg);
  --color-green-650: oklch(57.72% 0.15 149.59deg);
  --color-green-700: oklch(52.73% 0.14 150.07deg);
  --color-green-900: oklch(39.25% 0.09 152.53deg);
  --color-green-950: oklch(26.64% 0.06 152.93deg);

  @media (prefers-color-scheme: dark) {
    --color-gray-0: oklch(0% 0 none);
    --color-gray-25: oklch(11.49% 0 none);
    --color-gray-50: oklch(14.48% 0 none);
    --color-gray-65: oklch(16.74% 0 none);
    --color-gray-90: oklch(19.54% 0 none);
    --color-gray-100: oklch(20.46% 0 none);
    --color-gray-125: oklch(22.06% 0 none);
    --color-gray-150: oklch(23.66% 0 none);
    --color-gray-160: oklch(24.3% 0 none);
    --color-gray-170: oklch(24.94% 0 none);
    --color-gray-175: oklch(25.26% 0 none);
    --color-gray-195: oklch(26.54% 0 none);
    --color-gray-200: oklch(26.86% 0 none);
    --color-gray-215: oklch(28.41% 0 none);
    --color-gray-225: oklch(29.43% 0 none);
    --color-gray-230: oklch(29.95% 0 none);
    --color-gray-240: oklch(30.98% 0 none);
    --color-gray-245: oklch(31.49% 0 none);
    --color-gray-250: oklch(32.01% 0 none);
    --color-gray-275: oklch(34.58% 0 none);
    --color-gray-280: oklch(35.09% 0 none);
    --color-gray-310: oklch(37.82% 0 none);
    --color-gray-325: oklch(38.83% 0 none);
    --color-gray-350: oklch(40.51% 0 none);
    --color-gray-400: oklch(43.86% 0 none);
    --color-gray-500: oklch(55.55% 0 none);
    --color-gray-600: oklch(71.55% 0 none);
    --color-gray-700: oklch(86.99% 0 none);
    --color-gray-800: oklch(92.19% 0 none);
    --color-gray-900: oklch(97.02% 0 none);
    --color-gray-950: oklch(98.51% 0 none);
    --color-gray-1000: oklch(100% 0 none);

    --color-red-200: oklch(44.37% 0.16 26.9deg);
    --color-red-280: oklch(49.31% 0.18 27.42deg);
    --color-red-300: oklch(50.54% 0.19 27.52deg);
    --color-red-350: oklch(54.13% 0.2 27.42deg);
    --color-red-450: oklch(60.7% 0.21 26.5deg);
    --color-red-500: oklch(63.69% 0.21 25.33deg);
    --color-red-625: oklch(73.49% 0.15 21.87deg);
    --color-red-750: oklch(84.61% 0.08 19.18deg);
    --color-red-875: oklch(92.29% 0.04 18.01deg);
    --color-red-950: oklch(97.05% 0.01 17.51deg);

    --color-green-100: oklch(39.25% 0.09 152.53deg);
    --color-green-220: oklch(46.38% 0.11 151.01deg);
    --color-green-300: oklch(52.73% 0.14 150.07deg);
    --color-green-350: oklch(57.72% 0.15 149.59deg);
    --color-green-550: oklch(76.15% 0.19 150.57deg);
    --color-green-570: oklch(77.71% 0.19 151.01deg);
    --color-green-650: oklch(83.57% 0.16 152.8deg);
    --color-green-700: oklch(87.12% 0.14 154.44deg);
    --color-green-900: oklch(96.24% 0.04 156.7deg);
    --color-green-950: oklch(98.19% 0.02 155.71deg);
  }
}
